	{% extends 'base.html' %}
{% block title %}
Add-Book
{% endblock %}
{% block body %}



<div class="container p-3" style="height:100%">
    <div class="col-lg-5 col-md-8 mx-auto ui segment p-4">
        <p class="display-6 text-center border p-2">Add Book</p>
        <hr>

            <div class="alert alert-danger mt-2" id="messaged" {% if not messaged %}hidden{% endif %}>
   								 {{messaged}}
    							</div> 

    							<div class="alert alert-success mt-2" id="messages" {% if not messages %}hidden{% endif %}>
     							{{messages}}
   								 </div>

        <form class="ui form" enctype="multipart/form-data" action="/add-books" method="POST" style="height:100%">
            {% csrf_token %}

            <div class="field">
                <label>Title</label>
                <input type="text" name="title" placeholder="Title">
            </div>
            <div class="field">
                <label>Author</label>
                <input type="text" name="author" placeholder="Author">
            </div>
            <div class="field">
                <label>summary</label>
                <textarea name="summary" id="" cols="30" rows="10"></textarea>                
            </div>
            <div class="field">
                <label>ISBN</label>
                <input type="number" name="isbn" placeholder="ISBN">
            </div>
            <div class="field">
                <label>Total Copies</label>
                <input type="number" name="total_copies" placeholder="Total Copies">
            </div>
            <div class="field">
                <label>Available Copies</label>
                <input type="number" name="available_copies" placeholder="Available Copies">
            </div>  
            <div class="field">
                <label>Image</label>
                <input type="file" id="pic" name="pic" accept="image/*">          
            </div> 
            <button class="ui button"  type="submit">Submit</button>
            
        </form>
    </div>
</div>

{% endblock %}