{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock %}

{% block body %}
<div class="container p-3" style="height:100%">
    <div class=" card mx-auto ui segment p-4" style="width: 80rem;">
        <p class="display-6 text-center border p-2">Change Password</p>
                                <div class="alert alert-danger mt-2" id="messaged" {% if not messaged %}hidden{% endif %}>
   								 {{messaged}}
    							</div> 

    							<div class="alert alert-success mt-2" id="messages" {% if not messages %}hidden{% endif %}>
     							{{messages}}
   								</div>

        <div class="row border m-1">
            <div class="col-6 m-0 p-0" style="float-center">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-right">Old Password &nbsp; : </li>
                    <li class="list-group-item text-right">New Password &nbsp; :</li>
                    <li class="list-group-item text-right">Confirm Password &nbsp; : </li>
                </ul>
                 
            </div>
            <form action="/changepassword" method="POST">
                {% csrf_token %}
                <div class="col-12 m-0 p-0" style="float-center">
                    <ul class="list-group list-group-flush">

                        <input type="password" name="opassword" class="form-control m-1" required
                            placeholder="Old Password">
                        <input type="password" name="password" class="form-control m-1" required
                            placeholder="New Password">
                        <input type="password" name="repassword" class="form-control m-1" required
                            placeholder="Confirm Password">

                    </ul>
                </div>
           
                <button class="ui button teal m-2" style="float-center" id="sbutton" type="submit">Change
                    Password</button>
                    
                <a class="ui button mx-5 mt-2" href="/profile" >Cancel</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}